/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/assets/style/elements.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.nameplate{
    border:solid white 2px;
}
.triangle {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/assets/style/animation.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.fadeAnimation {
    transition: transform ease-in-out 0.2s;
    
  }
  
.fadeAnimation:hover {
  transform: translateY(-3px); /* Adjust the value based on your preference */
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  animation: fadeInDown .3s ease-in-out;
}

@keyframes fadeSpotlight {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeSpotlight {
  animation: fadeSpotlight .3s ease-in-out;
}

